/* Сброс/Reset */
h1,h2,h3,h4,h5,h6,div,body,p,ul,ol,li{
    padding: 0;
    margin: 0
}

ul,ol, li{
	list-style: none
}

body {
  background-size: cover;
  font-family: 'Montserrat', sans-serif;
}

.container{
	background: linear-gradient(270deg, #7256FF 0%, #B556FF 100%);
	width: 100%;
	max-width: 375px;
	margin: 0 auto;
} 

/* меню */

.menu {
	display: flex;
	justify-content: center;
	padding-top: 22px;
	padding-bottom: 40px;
}

.menu-logo {
	padding-left: 120px;
	padding-right: 120px;
}

.main {
	margin: 0 auto;
	width: 328px;
	background: #FFFFFF;
	border-radius: 12px 12px 0 0;
}

.multipass-authorization {
	display: flex;
	border-bottom: 1px solid #D8E1EF;
	display: flex;
	justify-content: center;
}

.multipass-authorization p{
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 15px;
	line-height: 24px;
	align-items: center;
	color: #0A0522;
	display: flex;
	justify-content: center;
	padding-top: 12px;
	padding-bottom: 12px;
}

.multipass-logo {
	background: #0A0522;
	border-radius: 12px;
	width: 21px;
	height: 21px;
	margin: 13px 16px 0px 0px;
}

.multipass-logo img{
	padding: 7px 1px 2px 2px;
}

.phone-mail {
	display: flex;
	padding-top: 21.5px;
	padding-left: 16px;
}

.phone-mail a {
	text-decoration: none;
}

.phone p {
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
	color: #3B4E6A;
	padding-right: 24px;
}

.mail p{
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
	color: #3B4E6A;
}

.phone p:active, .mail p:active, .phone p:hover, .mail p:hover {
	font-weight: 600;
	color: #0A0522;
}

.phone-active {
	padding-left: 16px;
	padding-bottom: 24px;
}

.phone-input {
	padding-left: 16px;
}

.phone-input input{
	width: 246px;
	height: 48px;
	background: #EEF5FF;
	border-radius: 12px;
	border: none;
	outline: none;
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
	padding-left: 50px;
}

.phone-input p {
	padding-top: 12px;
	padding-bottom: 34px;
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 13px;
	line-height: 20px;
	color: #3B4E6A;
}

.multipass-button {
	display: flex;
	justify-content: center;
}

.multipass-button a {
	background: #7456FF;
    color: #fff;
    padding: 10px 72px 10px 80px;
    border-radius: 12px;
    text-decoration: none;
}

.service-authorization {
	padding-top: 34px;
	padding-bottom: 24px;
}

.service-authorization p {
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 13px;
	line-height: 20px;
	text-align: center;
}

.service-authorization-span {
	text-decoration: none;
}

.find-out {
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 13px;
	line-height: 20px;
	display: flex;
	justify-content: center;
}

.service-authorization span {
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 13px;
	line-height: 20px;
}

.fast-entry p {
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	line-height: 16px;
	text-align: center;
	color: #3B4E6A;
}

.multipass-down{
	margin: 0 auto;
	align-items: center;
	padding: 16px 0px 8px;
	width: 328px;
	height: 104px;
	background: #EEF5FF;
	border-radius: 0px 0px 12px 12px;
}

.fast-entry {
	padding-bottom: 14px;
}

.networks {
	display: flex;
	justify-content: center;
	gap: 17px;
}

.networks p {
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	line-height: 16px;
}

.networks a {
	text-decoration: none;
}

.google-logo img {
	margin-left: 9px;
}

.telegram-logo img {
	margin-left: 18px;
}

.metamask-logo img {
	margin-left: 21px;
}

.epic-logo img {
	margin-left: 3px;
}

.steam-logo img {
	margin-left: 8px;
}


.technology {
	padding-top: 38px;
	display: flex;
	justify-content: center;
	color: #FFFFFF;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	line-height: 16px;
	padding-bottom: 27.74px;
}

.technology-logo {
	padding-left: 12px;
	padding-right: 16.75px;
}

.container-footer {
	background: #d6b8ebdd;
	width: 100%;
	max-width: 375px;
	margin: 0 auto;
}

.footer-input {
	padding-left: 26px;
	padding-top: 10px;
	padding-bottom: 14.92px;
}

.footer-input input{
	width: 273px;
	height: 40px;
	background: #FFFFFF;
	box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
	border-radius: 10px;
	border: none;
	outline: none;
	font-weight: 400;
	font-size: 15px;
	line-height: 24px;
	padding-left: 50px;
}

.footer-buttons {
	display: flex;
	justify-content: center;
	padding-bottom: 10px;
}



.mail-active {
	padding-left: 163px;
	padding-bottom: 24px;
}