/* Сброс/Reset */
h1,h2,h3,h4,h5,h6,div,body,p,ul,ol,li{
    padding: 0;
    margin: 0
}

ul,ol, li{
	list-style: none
}

body {
  background-size: cover;
  font-family: 'Geometria-Thin', 'Geometria-Bold';
}

.site {
	background: #03527B;
	border-radius: 16px;
    width: 943px;
    height: 455px;
	margin: 11px 40px;
}

/* меню */
.menu{
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.menu a{
	text-decoration: none;
}

.menu-logo img {
	position: absolute;
	width: 61px;
    height: 43.55px;
	left: 119.5px;
    top: 34px;
}

.menu-main {
	display: flex;
    z-index: 5;
	padding: 32px 0 0 256px;
}

.menu-main a {
	font-family: 'Geometria-Thin';
	color: #03527B;
	font-weight: 900;
    font-size: 11px;
}

.stoim a {
	padding-left: 33px;
	padding-right: 33px;
}

.menu-btn {
	padding: 32px 0 0 58px;
}

.menu-btn a {
	padding: 2.5px 12px 4px 14px;
	border: 1px solid #FFFFFF;
	border-radius: 28.5px;
    text-decoration: none;
    color: #FFFFFF;
	font-family: 'Geometria-Thin';
	font-size: 11px;
}

.menu-tel {
	padding: 10px 0 0 73px;
}

.menu-tel p {
	color: #FFFFFF;
	font-family: 'Geometria-Thin';
	font-weight: 550;
	font-size: 11px;
	letter-spacing: 0.1px;
}

.vector-menu img{
	position: absolute;
	z-index: 2;
	width: 574px;
    top: 11px;
    left: 315px;
}
/* меню */


/* главный блок */
.main-header{
    width: 268px;
    padding: 53px 0 0 80px;
}

.main-header h1 {
    color: #FFFFFF;
	font-weight: 100;
	font-size: 36px;
	letter-spacing: 0.2px;
	line-height: normal;
}

.main-header p {
	color: #FFFFFF;
	font-weight: 500;
	font-size: 36px;
	letter-spacing: 0.15px;
	margin-top: -4px;
}

.main-text {
	padding-top: 22px;
    padding-left: 79px;
}

.main-text p {
	font-size: 11px;
	color: #FFFFFF;
	margin-bottom: 4px;
}

.main-btn {
	display: flex;
}

.main-btn1 {
	padding: 23px 0 0 78px;
}

.main-btn1 a {
	padding: 8px 17px 10px 20px;
	border: 1px solid #FFFFFF;
	border-radius: 28.5px;
    text-decoration: none;
    color: #03527B;
	background-color: #FFFFFF;
	font-family: 'Geometria-Thin';
	font-size: 9px;
	letter-spacing: 0.2px;
}

.main-btn2 {
	padding: 24px 0 0 14px;
}

.main-btn2 a {
	padding: 8px 16px 9px 17px;
	border: 1px solid #FFFFFF;
	border-radius: 28.5px;
    text-decoration: none;
    color: #FFFFFF;
	font-family: 'Geometria-Thin';
	font-size: 9px;
	letter-spacing: 0.2px;
}

.main-photo{
	text-align: center;
	padding: 32px 0;
	position: absolute;
	z-index: 3;
	left: 312.5px;
    top: 137px;
    height: 422px;
} 

.main-photo img{
	width: 100%;
	height: 100%
}

.vector-down img{
	position: absolute;
	z-index: 3;
	width: 165px;
    height: 122px;
    left: 16px;
    top: 376px;
}
/* главный блок */

/* портфолио */
.portfolio {
	width: 1024px;
	padding: 136px 0 0 0;
}

.portfolio-header h2 {
	text-align: center;
	font-size: 36px;
}

.intresting-works {
	width: 32%;
	margin: 0 auto;
	padding: 15px 0 0 19px;
}

.intresting-works p {
	font-size: 14px;
}

.iw-down {
	padding: 1px 0 0 17.5px;
}

.portfolio-buttons {
	display: flex;
	padding: 40px 0 0 322px;
}

.portfolio-buttons a {
	font-size: 11.3px;
	text-decoration: none;
}

.portfolio-btn1 a {
	padding: 7.5px 27px 7px 25px;
	background: #444444;
	border: 1px solid #444444;
	border-radius: 28.5px 0px 0px 28.5px;
    text-decoration: none;
	font-family: 'Geometria-Thin';
	color: #FFFFFF;
}

.portfolio-btn2 a {
	padding: 7.5px 21px 7px 25px;
	border: 1px solid #444444;
    text-decoration: none;
	font-family: 'Geometria-Thin';
	color: #444444;
}

.portfolio-btn3 a {
	padding: 7.5px 29px 7px 25px;
	border: 1px solid #444444;
	border-radius: 0 28.5px 28.5px 0px;
    text-decoration: none;
	font-family: 'Geometria-Thin';
	color: #444444;
}

.our-works {
	display: flex;
	gap: 26px;
    padding: 59px 0 0 41px;
}

.ow-item-photo img {
	width: 296px;
}

.ow-item-header {
	padding-top: 9px;
}

.ow-item-text {
	padding-top: 8px;
}

.ow-item-text p {
	font-size: 12.4px;
}

.oit-down {
	padding-top: 2px;
}

.ow-item-button {
	padding-top: 13px;
}

.ow-item-button a {
	padding: 5px 22px 7px 21px;
	border: 1px solid #444444;
	border-radius: 28.5px 28.5px 28.5px 28.5px;
    text-decoration: none;
	font-family: 'Geometria-Thin';
	color: #444444;
	font-size: 11.2px;
}
/* портфолио */